@model List<Student>
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p> ViewData    =>>>      @ViewData["Name"]</p>
<p>ViewBag       =>>>         @ViewBag.SurName</p>
<p>TempData    =>>        @TempData["Age"]</p>

@foreach(var item in Model)
{
    <p>@item.Id</p>
    <p>@item.Name</p>
    <p>@item.Surname</p>
    <p>@item.Age</p>
}



<a href="/home/index">GO TO HOME</a>

